<mat-toolbar>
  <button
    mat-icon-button
    (click)="drawer.toggle()"
    aria-label="Example icon button with a menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Waxes27's Home</span>
  <button mat-icon-button aria-label="Example icon button with a menu icon">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container [hasBackdrop]="false">
  <mat-drawer #drawer class="drawer" mode="over">

    <mat-card (click)="drawer.toggle()" routerLink="wifi" routerLinkActive="router-link-active" >
      <mat-card-header>
        <mat-card-title>Wifi Login</mat-card-title>
        <mat-card-subtitle>Users can share wifi</mat-card-subtitle>
      </mat-card-header>
    </mat-card>

<!--
    <mat-card (click)="drawer.toggle()" routerLink="login">
      <mat-card-header>
        <mat-card-title>Registration</mat-card-title>
        <mat-card-subtitle>Register Users here</mat-card-subtitle>
      </mat-card-header>
    </mat-card> -->
    <!-- <mat-card routerLink = "prac-dashboard">Dashboard</mat-card> -->
    <!-- <mat-card routerLink = "path">Simple card</mat-card> -->
    <!-- <mat-card routerLink = "path">Simple card</mat-card> -->
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
